html, body{

    background-color: #003459;
    font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
}
@keyframes dalga{
    from, to {
        transform: translate(-50%, 0%);
    }
    50%{
        transform: translate(-50%,-20%);
    }
}
#leybıl{
    text-align: center;
    margin: auto;
    margin-top: 60vh;
    font-size: 15vh;
    color: #57CC99;
    
    
}
.bubble{
    height: max(300px, 30vw);
    width: max(300px, 30vw);
    background-color: #57CC99;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    animation: dalga 2s ease-in-out infinite;
}
#bubble-wrapper{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    pointer-events: none;
}
.kvet{
    display: flexbox;
    margin: auto;
    top: 50vh;
    
}
#kutu:focus{
    border-style: solid;
}
::placeholder{
    color: #57CC99;
}
#kutu{
    color: #57CC99;
    width: 100vh;
    left: 50vh;
    height: 6vh;
    border-width: 1vh;
    border-radius: 2vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    outline: none;
    padding-left: 2.5vh;
    padding-right: 0px;
    border-style:hidden;
    background-color: #003459;
    border-color: #57CC99;
    font-size: 2vh;
}
#tus{
    position:fixed;
    height: 8vh;
    width: 8vh;
    left:75vh;
    background-color:#57CC99;
    color: white;
    border-radius: 1vh;
    border-left: 0px;
    border-style:none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: inline-block;
    font-size: 2vh;
}
#text{
    position: absolute;
    left: 58vh;
    top: 30vh;
    text-align: center;
    align-items: center;
    font-size: 12vh;
    color: #57CC99;
}
.add{
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    color: azure;
    border-radius: 50px;
    background-color: #57CC99;
    font-size: 2vh;
    border-style: none;
}